<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Bank</title>
    <link rel="stylesheet" href="/static/stylesheets/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Lexend&display=swap" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/ddd77854d8.js" crossorigin="anonymous"></script>
  </head>
  <!-- editbank -->
  <body>
    <div class="container holdBoth">
      <div class="row">
        <div class="speakbank repeatBox doubleColumn">
          <div class="word">Hit Next To Begin</div>
          <div class="wordBtns">
            <button type="submit" class="wordNew confirmBtn">Next</button>
            <button class="wordRate confirmBtn">Repeat</button>
            <input
              type="range"
              min="0.1"
              max="5"
              value="1"
              step="0.1"
              class="slider"
              id="SpeachRateSlider"
            />
          </div>
        </div>

        <div class="workbank bankBox column">
          
            <h2>Word Bank</h2>
            <!-- operating on the same form from todo.ejs -->
            <!-- <form action="" method="POST"> -->
              <input type="text" name="content" id="content" />
              <button type="submit confirmBtn" >Submit</button>
            <!-- </form> -->
          
          <div class="editWords">
            <ul>
              <!-- method on same object. different tasks. this one grabbing id  -->
              <% wordBank.forEach(details => { %> <% if (details._id == idTask) { %>
              <li class="bankList">
                <!-- do I need the post request for edit? -->
                <!-- form to go to the edit route and get id -->
                <!-- <form action="/edit/<%= details._id %>" method="POST"> -->
                  <input type="text" value="<%= details.content %>" name="content" class="editBank"/>
                  <button type="submit" class="confirmBtn" >Confirm</button>
                  <button type="submit" class="confirmBtn">
                  <a href="/" class="cancel">Cancel</a>
                  </button>
                <!-- </form> -->
              </li>

              <% } else { %>
              <li class="bankList">
                <div><%= details.content %></div>
                <a onClick="edit(this)" class="edit">
      
                  <span class="fa-solid fa-pen-to-square" role="img" aria-label="Edit"></span>
                </a>
                <a onClick="save('<%= details._id %>')" class="save">
                  <span class="fa-solid fa-save" role="img" aria-label="Save"></span>
                </a>
                  <a onClick="remove('<%= details._id %>')" class="remove"></a>
                  <span class="fa-solid fa-trash-can" role="img" aria-label="Delete"></span>
                </a>
              </li>
              <% } %> 
              <% }) %>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
    
    <script src="/static/main.js"></script>
  </body>
</html>